<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-12 my-4">

      <div class="form">
        <div class="title">Divisão</div>

        <div class="subtitle">Insira os valores</div>
        <div class="input-container ic1">
          <label for="dividendo" class="placeholder">Dividendo</label>
          <input id="dividendo" name="dividendo" class="input" type="text" ngModel [(ngModel)]="dividendo"
            placeholder=" " required />
          <div class="cut"></div>
        </div>
        <div>
          <label for="divisor" class="placeholder">Divisor</label>
          <input id="divisor" name="divisor" class="input" type="text" ngModel [(ngModel)]="divisor" placeholder=" "
            required />
          <div class="cut"></div>
        </div>
        <button (click)="consultarCalcApi()" type="text" class="submit">Calcular</button>

        <div>
          <label for="resultado" class="placeholder">Resultado</label>
          <input name="resultado" id="resultado" ngModel [(ngModel)]="resultado" class="input" type="text"
            placeholder=" " disabled />
        </div>
        <div>
          <label for="erro" class="placeholder">Erro</label>
          <input name="erro" id="erro" ngModel [(ngModel)]="erro" class="input" type="text" placeholder=" " disabled />
        </div>
      </div>
    </div>
  </div>
</div>